.body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(0, 7, 2, 0.962);
  border: 3px solid blue;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "nav    main"
    "nav    aside"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 1fr 1fr 60px;
  height: 100vh;
  gap: 10px;
  padding: 10px;
  background: #d606a2;
}
header { grid-area: header; background: #2563eb; color: white; text-align: center; border-radius: 10px;}
nav { grid-area: nav; background: #10b981; color: white; padding: 10px; border-radius: 10px;}
main { grid-area: main; background: #f59e0b; color: white; padding: 10px; border-radius: 10px; }
aside { grid-area: aside; background: #ef4444; color: white; padding: 10px; border-radius: 10px}
footer { grid-area: footer; background: #6b7280; color: white; text-align: center; line-height: 60px; border-radius: 10px;}

     