
.body{
    margin:0%;
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    padding:20px;
    background-color: rgb(226, 182, 120);
}

    .grid {
    display: grid;
    grid-template-columns: 5em 100px 30%;
    grid-template-rows: 200px auto;
    gap: 10px;
    border:2px solid blue;
}
.grid div{
    background:#2563eb;
    color:rgb(209, 16, 6);
    text-align: center;
    padding:20px 0 ;
    border-radius: 6px;
}
